.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-container .swiper-wrapper {
  height: 600px;
}

.swiper-container .swiper-wrapper .swiper-slide {
  width: 300px;
  height: 600px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -moz-box-pack: center;
       justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-box-align: center;
       align-items: center;
}

.button {
  font-size: 14px;
}

.overlay {
  position: fixed;
  z-index: 101;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 104;
  height: 600px;
  background: #fff;
}
